<% provide(:title, 'Dashboard') %>
<h1>Dashboard#home</h1>

<h2>Bienvenido <%= current_user.username %></h2>
<%= image_tag user.image_url(:thumb).to_s %>

<div class="well span12">
	<h3>Se han registrado un total de:</h3>
		<% @vototal = 0 %>
	  <% Group.all.each do |grupo| %>
	    <% @vototal = @vototal + grupo.cached_votes_total %>	    
	  <% end %>
	  <h1><%= @vototal %> Votos</h1>
</div>

<div class="well span12">
	<h3>Todos los usuarios</h3>
	<ul>
	  <% @users.each do |user| %>
	    <li><%= user.username %> | <%= user.fullname %>| <%= user.email %> | <%= user.class.name %> | Miembro de:
	    	<% Group.with_member(user).each do |banda| %>
	    		<%= banda.name %> 
	    	<% end %></li>
	  <% end %>
	</ul>
</div>

<div class="well span5">
	<h3>Todos los Invitados</h3>
	<ul>
	  <% @users.each do |user| %>
	  	<% if user.type == nil %>
	    <li><%= user.username %> | <%= user.email %> | <%= user.class.name %> </li>
	    <% end %>
	  <% end %>
	</ul>
</div>

<div class="well span5">
	<h3>Todos los Concursantes</h3>
	<ul>
	  <% @users.each do |user| %>
	    <% if user.type == "Concursante" %>
	    	<li><%= user.username %> | <%= user.email %> | <%= user.class.name %> </li>
	    <% end %>
	  <% end %>
	</ul>
</div>

<div class="span12">
	<% if current_user.type == "Concursante" %>
		<h4>Eres Concursante!</h4>
		<%= link_to "Tu perfil", "concursantes/#{current_user.username}" %>

	<% else %>
		<h4>¿Quieres entrar al Concurso?</h4>
		<%= button_to "Quiero entrar al Concurso", {:controller => "groups", action: "new" },
		                                		method: :get %>
	<% end %>
</div>