<% provide(:title, 'Dashboard') %>

<div id="dashboard-title">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 avatar-usuario"><%= image_tag gravatar_image_url(current_user.email.gsub('spam', 'mdeering'), filetype: :png, rating: 'pg', size: 150, secure:false ) %></div>
			<h3 class="col-xs-4 nombre-usuario"><%= current_user.fullname %><small> (<%= current_user.username %>)</small></h3><br>
			<div class="col-xs-3 col-xs-offset-3 votos-dashboard">
			<% @vototal = 0 %>
			<% Group.all.each do |grupo| %>
			  <% @vototal = @vototal + grupo.cached_votes_total %>	    
			<% end %>
				<h4><%= @vototal %></h4>
				<p>TOTAL DE VOTOS REGISTRADOS</p>
			</div>
		</div>
	</div>
</div>
<div id="dashboard-menu">
	<div class="container">
		<div class="row">
			<ul class="nav nav-pills col-md-6 col-md-offset-3">
			  <li class="active"><a href="#">Top concursantes</a></li>
			  <li><%= link_to "Entrar a concurso", {:controller => "groups", action: "new" },
		                                		method: :get %></li>
			  <li><a href="/charges/new" id="comprar-carnet">Comprar carnet</a></li>
			  <li><a href="/users/edit">Editar cuenta</a></li>
			</ul>
		</div>
		<div class="row" id="comprar-menu">
			<div class="col-md-4 col-md-offset-4">
				<div class="input-group">
					<input type="number" min="1" class="form-control" placeholder="Cantidad de carnets">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Comprar</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="dashboard-content">
	<div class="container">
		<div class="row">

			<% Group.all.order('cached_votes_total desc').each do |grupo| %>

				<a href="/banda/<%= grupo.name %>" class="tile-concursante col-xs-4 col-md-2 thumbnail">
					<div id="tile-avatar"><%= image_tag grupo.avatar.url.to_s %></div>
					<div class="caption">
						<h4 class="tile-nombre"><%= grupo.name %></h4>
						<p class="tile-votos"><%= grupo.cached_votes_total %> votos</p>
					</div>
				</a>

			<% end %>

		</div>
	</div>
</div>