<% provide(:title, 'Precios') %>
<div id="container-precios">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3" id="carnet-info">
						<div><h5>$550 <font style="font-size:30px;">MXN</font></h5></div>
						<div>
						<h6>3 conferencias magistales</h6>
						<h6>Presentación de concursos</h6>
						<h6>Todos los eventos sociales</h6>
						<h6>Prensentación en vivo de invitado muy especial</h6>
						</div>
					</div>
				</div>
			</div>
				<div id="container-modulo-info">
					<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-xs-12" id="carnet-desc">
							<p>¡LOS CONCURSANTES ENTRAN GRATIS A TODOS LOS EVENTOS!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-4 btn col-xs-6 col-xs-offset-3" id="carnet-btn">
							<p>OBTEN TU CARNET</p>
						</div>
					</div>
					</div>
				</div>


				


					<div id="container-hoteles">
						<div class="container">
						<div class="row">
							<h3>HOTELES SEDE</h3>
								<a href="http://www.hotelelgreco.com.mx" target="_blank">
								<div class="col-xs-4 hotel">
									<div class="foto-hotel"><%= image_tag("hotel1.jpg") %></div>
									<h4>El Greco Hotel</h4>
									<p>Av San Antonio Eje 5 Sur No. 22 Col. Nápoles México D.F.</p>
									<span class="col-xs-12">$690 <font style="font-size:14px;">MXN/NOCHE</font></span>
								</div>
								
								</a>
								<a href="http://www.hotelvermont.com.mx" target="_blank">
								<div class="col-xs-4 hotel">
									<div class="foto-hotel"><%= image_tag("hotel2.jpg") %></div>
									<h4>Hotel Vermont</h4>
									<p>Vermont No. 29 Col. Nápoles Delg. Benito Juárez C.P. 03810 México D.F.</p>
									<span class="col-xs-12">$690 <font style="font-size:14px;">MXN/NOCHE</font></span>
								</div>
								</a>
								<a href="http://www.hoteldemexico.com/" target="_blank">
								<div class="col-xs-4 hotel">
									<div class="foto-hotel"><%= image_tag("hotel3.jpg") %></div>
									<h4>Hotel Crowne Plaza</h4>
									<p>Dakota No. 95 Col. Napoles CP 03810 Delegación Benito Ju´rez México D.F.</p>
									<span class="col-xs-12">$690 <font style="font-size:14px;">MXN/NOCHE</font></span>
								</div>
							</a>
						</div>

						<!--<div class="row">
													<span class="col-md-4">$690 <font style="font-size:14px;">MXN/NOCHE</font></span>
													<span class="col-md-4">$789 <font style="font-size:14px;">MXN/NOCHE</font></span>
													<span class="col-md-4">$950 <font style="font-size:14px;">MXN/NOCHE</font></span>
												</div>-->

						</div>
					</div>

					

					<div id="container-comercios">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-md-12">
								   	<span class="thumbnail">
								   	<h4>COMERCIOS <font style="font-weight:300;">AFILIADOS</font></h4>
								   	<p>La siguiente lista es de comercios de la localidad afiliados a KPoperos, los cuales ofrecerán a participantes un 15% de descuento, presentando su carnet.</p>
								   </span>
								</div>
								<div class="col-xs-6 col-md-3">
								   	<a href="http://www.starbucks.com.mx/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio1.jpg") %>
								   	</a>
								</div>

								<div class="col-xs-6 col-md-3">
								   	<a href="http://www.sanborns.com.mx/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio2.jpg") %>
								   	</a>
								</div>

								<div class="col-xs-6 col-md-3">
								   	<a href="http://cielitoquerido.com.mx/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio3.jpg") %>
								   	</a>
								</div>

								<div class="col-xs-6 col-md-3">
								   	<a href="http://www.bellasartes.gob.mx/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio4.jpg") %>
								   	</a>
								</div>

								<div class="col-xs-6 col-md-3">
								   	<a href="http://www.fahorro.com.mx/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio5.jpg") %>
								   	</a>
								</div>

								<div class="col-xs-6 col-md-3">
								   	<a href="http://www.nutrisa.com/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio6.jpg") %>
								   	</a>
								</div>

								<div class="col-xs-6 col-md-3">
								   	<a href="http://www.cinepolis.com.mx/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio7.jpg") %>
								   	</a>
								</div>

								<div class="col-xs-6 col-md-3">
								   	<a href="http://www.oxxo.com/" target="_blank" class="thumbnail">
								      	<%= image_tag("comercio8.jpg") %>
								   	</a>
								</div>
							</div>
						</div>
					</div>
</div>