<div id="login-container">
	<div id="login-box">
<%= bootstrap_flash %>
<h2>Renviar Instrucciones de Confirmaciones</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Reenviar Instrucciones de Confirmación de cuenta" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>